{% extends "base.html.twig" %}

{% block title %}
    Application
{% endblock %}

{% block body %}
    <header class="header">
        <button class="btn btn-outline-info my-2 my-sm-0" >Sign Out</button>
    </header>
    <aside class="aside bg-info">
        <h1 class="card-title text-light m-lg-2">ShopLista</h1>
        <ul class="list-group list-margin" >
            <a href="#" class="text-light"><li class="list-group-item bg-info">Cras justo odio</li></a>
        </ul>
    </aside>
{% endblock %}
